body {
    font-family: 'Roboto', sans-serif;
    size: 18px;
}

h1 {
    size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

h2 {
    size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.hero {
    background-color: #1F2937;
}

.hero>p {
    color: #E5E7EB;
}

.hero>ul {
    color: #E5E7EB;
    display: flex;
    justify-content: space-around;
}

.links {
    display: flex;
    justify-content: flex-end;
}

.footer {
    background-color: #1F2937;
    size: 18px;
    color: #E5E7EB;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    size: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.info .img {
    border: 3px solid #3882F6;
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.quote .text {
    max-width: 400px;
}

.quote .author {
    margin-top: -20px;
    margin-left: 200px;
}

.box {
    margin-top: 50px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    padding: 15px;
    max-width: 650px;
}

.call {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.call_text {
    display: flex;
    flex-direction: column;
}

.call_text .first {
    margin-bottom: -18px;
}

.call button {
    border-color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
}