body {
    font: roboto;
}

h1 {
    size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

h2 {
    size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.hero {
    background-color: #1F2937;
}

.hero>p, li {
    size: 18px;
    color: #E5E7EB;
}

.footer {
    background-color: #1F2937;
    size: 18px;
    color: #E5E7EB;
}

.quote {
    background-color: #E5E7EB;
    size: 36px;
}

.call {
    background-color: #3882F6;
}

.call>button {
    border-color: #E5E7EB;
}

button {
    background-color: #3882F6;
}